@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --background: 220 14% 96%; */
    /* --background: 39.2, 100%, 85.3%; */
    --background: 38 65% 93%;
    --contentBackground: 0 0% 100%;
    /* --headerBackground: 197 88% 36%; */
    --headerBackground: 212 39% 47%;
    --borderColor: 0 0% 0%;
    --altGray: 220 14% 96%;
    --altGrayDarker: 220 14% 90%;
    --contrast: 0 0% 100%;
    --offset: 210 20% 98%;
  }
  .dark {
    --background: 200 6.7% 17.6%;
    --contentBackground: 60 3.23% 12.16%;
    --headerBackground: 60 3.23% 12.16%;
    --borderColor: 0 0% 100%;
    --altGray: 215.3 25% 26.7%;
    --altGrayDarker: 217.2 32.6% 17.5%;
    --contrast: 200 6.7% 17.6%;
    --offset: 60 3.23% 12.16%;
  }
}


.header-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.header-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 70%;
  color: white;
  padding-bottom: 1rem;
  padding-top: 1rem;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .header-box {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.sidebar-logo {
  margin-right: 0.5rem;
}

.sidebar-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.sidebar-link-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  padding: 0.25rem;
  border-radius: 0.5rem;
  width: 100%;
}

.sidebar-link-block:hover {
  background-color: rgba(245, 164, 164, 0.2);
  border-radius: 0.5rem;
}


.sidebar-link-icon {
  fill: white;
}